<ion-content [fullscreen]="true">
    <div style="width : 100%;">
        <div id="entete">
            <div class="details">
                <label>Nom : {{nomKhun}}</label>
            </div>
            <div class="details">
                <label>Genre : {{genreKhun}}</label>
            </div>
            <div class="details">
                <label>Corps : {{couleurKhun}}</label>
            </div>
            <div class="details">
                <label>Cheveux : {{pilositeKhun}}</label>
            </div>
        </div>

        <div id="div_creation" style="display:flex; flex-direction : row; position:fixed; top:50; left:0; width: 420%; height : 100%;">

            <div id="div_nom" style="display:flex; flex-direction:column; width : 70%; height : 100%; background-color:rgb(160, 125, 125);">
                <label style="margin-top: 50px;">Comment voulez-vous appeler</label>
                <label style="margin-bottom: 50px;">votre Khun ?</label>
                <input [(ngModel)]="nomKhun" type="text" style="font-family : 8bit;">
                <button (click)="ValiderPrenom()">Valider</button>
            </div>

            <div id="div_genre" style="display:flex; flex-direction:column; width:70%; height : 100%; background-color:rgb(101, 126, 124);">
                <label style="margin-top: 50px;">Quel est le genre de</label>
                <label style="margin-bottom: 50px;">votre Khun ?</label>
                <div style="width : 50%; height :auto; margin-left : auto; margin-right : auto; display : flex; flex-direction: row; justify-content: space-around;">
                    <div (click)="ValiderGenre('M')" style="width:40%; height: auto; border : 1px solid black; border-radius : 8px;">
                        <img src="./../../assets/images/PFI/SymboleMasculin.png" alt="">
                    </div>
                    <div (click)="ValiderGenre('F')" style="width:40%; height: auto; border : 1px solid black; border-radius : 8px;">
                        <img src="./../../assets/images/PFI/SymboleFéminin.png" alt="">
                    </div>
                </div>
            </div>

            <div id="div_corps" style="display : flex; flex-direction: column; width:70%; height : 100%; background-color:rgb(107, 103, 80);">
                <div style="display : flex; flex-direction: row; justify-content: space-around; width:100%; height : auto;">
                    <div style="width:40px; height:40px; border : 2px solid black; border-radius : 5px; margin : auto;">
                        <img (click)="Defiler(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                    </div>

                    <div style="width : 15%; height : auto; margin-left : auto; margin-right : auto;">
                        <img src="./../../assets/images/PFI/CréationKhun/PNG/Corps_Type_{{genreKhunBase}}_Couleur_{{couleurCorpsKhun}}.png" alt="">
                    </div>

                    <div style="width:40px; height:40px; border : 2px solid black; border-radius : 5px; margin : auto;">
                        <img (click)="Defiler(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                    </div>
                </div>
                <button (click)="ValiderCorps()">Valider</button>
            </div>

            <div id="div_cheveux" style="width:70%; height : 100%; background-color:rgb(97, 105, 78);">
                <div style="display : flex; flex-direction: row; justify-content: space-around; width:100%; height : auto;">
                    <div style="display:flex; flex-direction:column; width:35%; height:auto; margin-left : auto; margin-right : auto;">
                        <img style="width : 40px; height:40px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 20px;"
                            (click)="DefilerCheveux(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                        <img style="width : 40px; height:40px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;" 
                            (click)="DefilerCouleurCheveux(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                        <img *ngIf="isMasculin" style="width : 40px; height:40px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 40px;"
                            (click)="DefilerBarbe(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                        <img *ngIf="isMasculin" style="width : 40px; height:40px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;" 
                            (click)="DefilerCouleurBarbe(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                    </div>

                    <div style="position : relative; display : flex; width : 50%; height : auto; min-height : 300px; margin-left : auto; margin-right : auto; overflow: hidden;">
                        <img style="position : absolute; top: 25; width : 100%; height : auto;" src="./../../assets/images/PFI/CréationKhun/PNG/Corps_Type_{{genreKhunBase}}_Couleur_{{couleurCorpsKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Hair_Forme_{{formeCheveuxKhun}}_Couleur_{{couleurCheveuxKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Beard_Forme_{{formeBarbeKhun}}_Couleur_{{couleurBarbeKhun}}.png" alt="">
                    </div>

                    <div style="display:flex; flex-direction:column; width:35%; height:auto; margin-left : auto; margin-right : auto;">
                        <img style="width : 40px; height:40px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 20px;"
                            (click)="DefilerCheveux(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <img style="width : 40px; height:40px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;"
                            (click)="DefilerCouleurCheveux(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <img *ngIf="isMasculin" style="width : 40px; height:40px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 40px;"
                            (click)="DefilerBarbe(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <img *ngIf="isMasculin" style="width : 40px; height:40px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;"
                            (click)="DefilerCouleurBarbe(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <button (click)="ValiderCheveux()">Valider</button>
                    </div>
                </div>
            </div>
                
            <div id="div_habits" style="width:70%; height : 100%; background-color:rgb(91, 97, 116);">
                <div style="display : flex; flex-direction: row; justify-content: space-around; width:100%; height : auto;">
                    <div style="display:flex; flex-direction:column; width:35%; height:auto; margin-left : auto; margin-right : auto;">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 20px;"
                            (click)="DefilerTop(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;" 
                            (click)="DefilerCouleurTop(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 20px;"
                            (click)="DefilerPant(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;" 
                            (click)="DefilerCouleurPant(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 20px;"
                            (click)="DefilerShoes(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;" 
                            (click)="DefilerCouleurShoes(-1)" src="./../../assets/images/FlècheGauche.png" alt="">
                    </div>

                    <div style="position : relative; display : flex; width : 18%; height : auto; margin-left : auto; margin-right : auto; overflow: hidden;">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/PNG/Corps_Type_{{genreKhunBase}}_Couleur_{{couleurCorpsKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Hair_Forme_{{formeCheveuxKhun}}_Couleur_{{couleurCheveuxKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Beard_Forme_{{formeBarbeKhun}}_Couleur_{{couleurBarbeKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Top_Forme_{{formeTopKhun}}_Couleur_{{couleurTopKhun}}_Type_M.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Pant_Forme_{{formePantsKhun}}_Couleur_{{couleurPantsKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Shoes_Forme_{{formeShoesKhun}}_Couleur_{{couleurShoesKhun}}.png" alt="">
                    </div>

                    <div style="display:flex; flex-direction:column; width:35%; height:auto; margin-left : auto; margin-right : auto;">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 20px;"
                            (click)="DefilerTop(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;"
                            (click)="DefilerCouleurTop(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 20px;"
                            (click)="DefilerPant(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;"
                            (click)="DefilerCouleurPant(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 20px;"
                            (click)="DefilerShoes(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <img style="width : 30px; height:30px; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : 10px;" 
                            (click)="DefilerCouleurShoes(1)" src="./../../assets/images/FlècheDroite.png" alt="">
                        <button (click)="ValiderKhun()">Valider</button>
                    </div>
                </div>
            </div>

            <div id="div_valider" style="width:70%; height : 100%; background-color:rgb(107, 90, 90);">
                <div style="display : flex; flex-direction: row; justify-content: space-around; width:100%; height : 350px;">
                    <div style="position : relative; display : flex; width : 20%; height : auto; margin-left : auto; margin-right : auto; overflow: hidden;">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/PNG/Corps_Type_{{genreKhunBase}}_Couleur_{{couleurCorpsKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Hair_Forme_{{formeCheveuxKhun}}_Couleur_{{couleurCheveuxKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Beard_Forme_{{formeBarbeKhun}}_Couleur_{{couleurBarbeKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Top_Forme_{{formeTopKhun}}_Couleur_{{couleurTopKhun}}_Type_M.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Pant_Forme_{{formePantsKhun}}_Couleur_{{couleurPantsKhun}}.png" alt="">
                        <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Shoes_Forme_{{formeShoesKhun}}_Couleur_{{couleurShoesKhun}}.png" alt="">
                    </div>

                    <div style="position : relative; display : flex; width : 50%; height : auto; margin-left : auto; margin-right : auto; overflow: hidden;">
                        <button (click)="AjouterKhun()" routerLink="/main">Ajouter un Khun !</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    

    <div id="menu" style="display:flex; flex-direction:column; position:fixed; width:30%; height:100%;
        background-color:white; top:0;right:0; border-left : 5px solid black; background-color:lightgrey;">
        <label>Création du Khun</label>
        <button (click)="Nom()">Nom</button>
        <button (click)="Genre()">Genre</button>
        <button (click)="Corps()">Corps</button>
        <button (click)="Cheveux()">Cheveux</button>
        <button (click)="Habits()">Habits</button>
    </div>
</ion-content>
