@font-face
{
    font-family: "8bit";
    src: url('./../../assets/fonts/8bitOperatorPlus-Regular.ttf');
}

#menu button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 15px;
    width : 50%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#menu label
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 15px;
    text-decoration : underline;
    font-size: 22px;
}

#div_nom label
{
    font-family : "8bit";
    margin-left : auto;
    margin-right : auto;
}

#div_genre label
{
    font-family : "8bit";
    margin-left : auto;
    margin-right : auto;
}

#div_nom input
{
    font-family : "8bit";
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

#div_nom button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 25px;
    width : 30%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#div_corps button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 25px;
    width : 30%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#div_cheveux button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 25px;
    width : 100%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#div_habits button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 15px;
    width : 100%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#div_valider button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 15px;
    width : 100%;
    height : 50px;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#entete
{
    display : flex;
    flex-direction: row;
    width : 70%;
    height : 50px;
    border-bottom : 2px solid black;
}

.details
{
    font-family: "8bit";
    display : flex;
    flex-direction: row;
    width : 25%;
    height : 100%;
}

.details label
{
    margin : auto;
    font-size: 12px;
}