<ion-content>

  <!-- En-tête du menu -->

  <div id="entete">

    <div id = "bordure" (click)="SelectionAvatar()">
      <img src="./../../assets/images/PFI/Avatars/PNG/{{this.avatar}}.png" alt="Avatar">
    </div>

    <div id = "bordure_pseudo">
      <div id="bordure_pseudo2">
        <label>{{this.pseudo}}</label>
      </div>
    </div>

    <div id="bordure_niveau">

      <div id="texte_niveau">
        <label>Points de survie : &nbsp;</label>
        <label>Nv. : &nbsp;</label>
        <label>Exp. : &nbsp;</label>
      </div>

      <div id="valeur_niveau">
        <label>{{this.points}}</label>
        <label>1</label>
        <label>0</label>
      </div>
      
    </div>

  </div>

  <!-- En-tête du menu -->
  <div id="menu">
    <button (click)="SelectionPerso()">Jouer</button>
    <button (click)="Instructions()">Instructions</button>
    <button>Succès</button>
    <button>Maîtrises</button>
    <button>Classement</button>
    <button>Crédits</button>
    <button (click)="seDeco()">Déconnexion</button>
  </div>


  <div id="selectionAvatar">
    <div id="selectionAvatar_Avatar">
      <div class="choixAvatar" *ngFor="let item of listeAvatar">
        <img (click)="clickAvatar(item[0])" src="./../../assets/images/PFI/Avatars/PNG/{{item[0]}}.png" alt="">
      </div>
    </div>
    <div id="selectionAvatar_resume">
      <div id="selectionAvatar_resume_card">
        <div id="selectionAvatar_resume_card_photo">
          <img src="./../../assets/images/PFI/Avatars/PNG/{{this.avatarChoisi}}.png" alt="Avatar">
        </div>
        <div id="selectionAvatar_resume_card_description">
          <p style="text-align: center; text-decoration: underline; margin-top : 0;">{{this.prenomAvatar}}</p>
          <p>{{this.descriptif}}</p>
        </div>
      </div>
      <div id="selectionAvatar_resume_buttons">
        <button (click)="SelectionAvatarToMenu()">Retour</button>
        <button id="bouton_definir" (click)="setAvatar()">Définir</button>
      </div>
    </div>
  </div>


  <div id="instructions">
    <div style="position:relative; display: flex; flex-direction: column; justify-items: center; width: 80%; height: auto;
      margin-left : auto; margin-right:auto;">

      <br>
      <label style="font-size: 24px;">Instructions</label>
      <br>
      <label>
        Gérez la vie d’un Khun en le faisant accomplir diverses actions et en veillant
        à ses besoins qui influeront sur le déroulement de ses actions. Votre Khun
        débute avec une certaine somme d’argent et devra en gagner pour acheter du
        mobilier de meilleure qualité et subvenir à ses besoins. Le but du jeu est de
        faire survivre votre Khun aussi longtemps que possible.
      </label>
      <br>
      <label>
        Atteignez des records de longévité pour apparaître au classement des meilleurs
        survivants. Seul votre meilleur Khun sera retenu dans ce classement.
      </label>
      <br>
      <label>
        Au décès de votre Khun, sa durée de vie sera transposée en expérience et en 
        points de survie. L'expérience permet d'avoir accès à du contenu exclusif et les 
        points de survie peuvent être échangés contre des maîtrises qui faciliteront la vie 
        de vos Khuns.
      </label>
      <br>
      <button (click)="InstructionToMenu()">Retour</button>
      <br>
      <br>

    </div>
  </div>

    <div id="selectionPerso">
      <div style="position:relative; display: flex; flex-direction: column; justify-items: center; width: 80%; height: auto;
      margin-left : auto; margin-right:auto;">

      <div class="perso" *ngFor="let item of listePerso">
        <div *ngIf="item !== null; else notShow" id="cartePerso">
          <div class="infosKhun">
            <div class="photoPerso" style="position : relative">
              <img style="position:absolute; top:0; left:0; width:100%; height:100%;"
                  src="./../../assets/images/PFI/Avatars/PNG/Avatar_Corps_C{{item.couleur}}.png" alt="">
              <img style="position:absolute; top:0; left:0; width:100%; height:100%;"
                  src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Hair_Forme_{{item.formeCheveux}}_Couleur_{{item.couleurCheveux}}.png" alt="">
              <img style="position:absolute; top:0; left:0; width:100%; height:100%;"
                  src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Beard_Forme_{{item.formeBarbe}}_Couleur_{{item.couleurBarbe}}.png" alt="">
              <img style="position:absolute; top:0; left:0; width:100%; height:100%;"
                  src="./../../assets/images/PFI/Avatars/Top/PNG/Avatar_Top_1_Couleur_{{item.couleurTop}}.png" alt="">
            </div>

            <p style="text-decoration: underline; margin-top: 5px; margin-bottom: 5px;">{{item.nom}}</p>

            <div class="infos">
              <div>
                <p>Age &nbsp;</p>
                <p>Genre &nbsp;</p>
                <p>Argent &nbsp;</p>
              </div>

              <div>
                <p>: {{item.age}} ans</p>
                <p>: {{item.sexe}}</p>
                <p>: {{item.argent}} $</p>
              </div>
            </div>
          </div>

          <div class="jauges">
            <div class="jaugeCarte">
              <div class="jauge">
                <div id="carte1" style="position : absolute; bottom : 0; width : 100%; height : 100%;  background-color: greenyellow;">
  
                </div>
              </div>
              <p>Santé</p>
              <p>{{item.sante}}/100</p>
            </div>
  
            <div class="jaugeCarte">
              <div class="jauge">
                <div id="carte2" style="position : absolute; bottom : 0; width : 100%; height : 100%;  background-color: greenyellow;">
  
                </div>
              </div>
              <p>Faim</p>
              <p>{{item.faim}}/100</p>
            </div>
  
            <div class="jaugeCarte">
              <div class="jauge">
                <div id="carte3" style="position : absolute; bottom : 0; width : 100%; height : 100%;  background-color: greenyellow;">
  
                </div>
              </div>
              <p>Hygiène</p>
              <p>{{item.hygiene}}/100</p>
            </div>
          </div>
          

          <div class="boutonsCarte">
            <button (click)="JouerKhun(item)" style="width:100%; margin-top : 0; height : 40%;">Jouer</button>
            <button (click)="SupprimerKhun(item)" style="width:100%; margin-top : 0; height : 40%;">Supprimer</button>
          </div>
        </div>
      </div>


        <ng-template #notShow>
          <div style="display : flex; width : 100%; height : 100%; align-items: center;">
            <button id="boutonAjouter" style="width: auto; height : 50%; margin: auto;" [routerLink]="['/creation']">Ajouter un Khun</button>
          </div>
        </ng-template>

      </div>
      <button (click)="SelectionToMenu()" style = "margin-top : 25px; margin-bottom: 25px;">Retour</button>
    </div>

  
</ion-content>
