@font-face
{
    font-family: "8bit";
    src: url('./../../assets/fonts/8bitOperatorPlus-Regular.ttf');
}

body
{
    font-family: "8bit";
}

#entete
{
    position : fixed;
    z-index: 50;
    display : flex;
    flex-direction: row;
    width : 100%;
    height : 100px;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 5px black;
    background-color: rgb(14, 26, 64);
}

#entete img
{
    width : 70px;
    height : 70px;
}

#bordure
{
    display : flex;
    width : 80px;
    height : 80px;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top : auto;
    margin-bottom: auto;
    margin-left : 20px;
    border-radius: 8px 0px;
}

#bordure_pseudo
{
    display : flex;
    width : auto;
    height : 80px;
    margin-top : auto;
    margin-bottom: auto;
}

#bordure_pseudo2
{
    display : flex;
    width : auto;
    height : 40%;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#bordure_pseudo2 label
{
    color: white;
    margin-left : 20px;
    margin-right : 20px;
    font-weight: 700;
    font-family: "8bit";
}

#menu
{
    z-index: 1;
    width : 100%;
    height : 100%;
    top : 100px;
    position : fixed;
    display : flex;
    flex-direction: column;
    background-color: rgb(34, 47, 91);
}

#menu button
{
    z-index: 2;
    margin-top: 10px;
    width : 30%;
    margin-left: auto;
    margin-right : auto;
    border : 3px solid black;
    // border-radius : 10px;
    background-color: rgb(148, 107, 45);
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
    font-family: "8bit";
}

#instructions
{
    display : flex;
    position: absolute;
    top : 100px;
    width: 100%;
    min-height : 100%;
    height : auto;
    background-color: white;
}

#instructions label
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    text-align: justify;
}
#instructions button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 10px;
    width : 30%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#bordure_niveau
{
    display : flex;
    flex-direction: row;
    margin-left: auto;
    margin-right : 15px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 15px;
    padding-right : 15px;
    width : auto;
    height : 80px;
    border : 4px solid black;
    border-radius: 5px;
    background-color: white;
}

#bordure_niveau label
{
    margin-top : auto;
    margin-bottom: auto;
    font-weight: 700;
    font-family: "8bit";
}

#texte_niveau
{
    display : flex;
    flex-direction: column;
    width : auto;
    margin-left : auto;
}

#texte_niveau label
{
    margin-left : auto;
    font-family: "8bit";
}

#valeur_niveau
{
    display : flex;
    flex-direction: column;
    min-width: 25px;
    width : auto;
    margin-right : auto;
}

#selectionPerso
{
    position: absolute;
    display : flex;
    flex-direction: column;
    top : 100px;
    width: 100%;
    //min-height : calc(100% - 100px);
    min-height : 100%;
    height : auto;
    background-color: rgb(34, 47, 91);
}

#selectionPerso button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 10px;
    width : 30%;
    border : 3px solid black;
    // border-radius : 10px;
    background-color: rgb(148, 107, 45);
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

.perso
{
    display : inline-block;
    flex-direction: row;
    border : 2px solid black;
    // border-radius: 10px;
    height : 50vh;
    width : 100%;
    margin-top : 20px;
    background-color: lightgrey;
    overflow: hidden;
}

.infosKhun
{
    width : 25%;
    height : 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 -2px 5px black;

    p
    {
        font-family: "8bit";
        margin : 0;
    }
}

.infos
{
    width: 100%;
    height : auto;
    display : flex;
    flex-direction: row;
    justify-content: center;

    p
    {
        font-size: 10px;
    }
}

#boutonAjouter
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 0px;
    width : auto;
    border : 3px solid black;
    // border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

.photoPerso
{
    display:flex;
    height : 80px;
    width : 80px;
    margin-left: 10px;
    margin-top : 10px;
    margin-right : 10px;
    border : 3px solid black;
    // border-radius: 10px;
    background-color: rgb(114, 128, 136);
}

#cartePerso
{
    display : flex;
    flex-direction: row;
    width : 100%;
}

.texteCarte
{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "8bit";
    height : 80px;
    width : auto;
    margin-top : 10px;
}

.texteCarte2
{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "8bit";
    height : 80px;
    width : auto;
    margin-top : 10px;
}

.texteCarte p
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 800;
}

.texteCarte2 p
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 800;
}

.boutonsCarte
{
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width : auto;
    height : 45vh;
    margin-left : auto;
    margin-right: 1%;
}

.boutonsCarte button
{
    width : 100%;
}

.jaugeCarte
{
    display : flex;
    
    flex-direction : column;
    justify-content: center;
    text-align: center;
    font-family: "8bit";
    font-size: 10px;
    font-weight: 800;
    height : 50vh;
    width : 33%;
    margin-left : 10px;
}

.jaugeCarte p
{
    margin : 0;
}

.jauge
{
    display : flex;
    justify-content: center;
    align-items: center;
    height : 50%;
    position: relative;
    width : 40%;
    margin-left : auto;
    margin-right : auto;
    border : 1px solid black;
}

.jauges
{
    width : 55%;
    height : 100%;
    display : flex;
    flex-direction: row;
}

#selectionAvatar
{
    display : flex;
    flex-direction: row;
    
    position:absolute;
    top : 100px;
    width: 100%;
    min-height : calc(100% - 100px);
    height : auto;
    background-color: white;

    #selectionAvatar_Avatar
    {
        display: flex;
        position: relative;
        justify-content: center;
        width : 40%;
        height: 100%;
        flex-wrap: wrap;
        overflow-y: scroll;
        box-shadow: 2px 0 3px black;
        background-color: rgb(34, 47, 91);
    }

    #selectionAvatar_resume
    {
        position: fixed;
        display : flex;
        flex-direction: column;
        width : 60%;
        height : calc(100% - 100px);
        left : 40%;
        top : 100px;


        #selectionAvatar_resume_card
        {
            display : flex;
            flex-direction: row;
            justify-content: space-between;
            width : 100%;
            height : auto;

            #selectionAvatar_resume_card_photo
            {
                width : 20vw;
                height : 20vw;
                padding: 2%;
                background-color: rgb(255, 215, 0);
                margin-left : 2%;
                margin-top: 2%;
                border : 2px solid black;
            }

            #selectionAvatar_resume_card_description
            {
                width : 50%;
                height : auto;
                box-shadow: 0 0 5px black;
                margin-right : 2%;
                margin-top: 2%;
                padding : 2%;
                text-align: justify;
                font-family: "8bit";
                font-size: 100%;
            }
        }

        #selectionAvatar_resume_buttons
        {
            display : flex;
            flex-direction: row;
            justify-content: space-between;
            width : 100%;
            height : auto;
            margin-top : 2%;

            button
            {
                width : 40%;
                height : 10vh;
                margin : 5%;
                display : flex;
                justify-content: center;
                align-items: center;
                font-family: "8bit";
                border : 3px solid black;
                background-color: rgb(148,107,45);
                color : white;
                text-shadow : 0 0 5px black;
                font-size: 18px;
            }
        }

        
    }
}

.choixAvatar
{
    width : 25%;
    height : 100%;
    margin-top : 10px;
    margin-left : 2.5%;
    margin-right : 2.5%;
    border : 2px solid black;
    padding : 2px;
    background-color: black;
}