#container
{
    display : flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: fixed;
    left : 0;
    top : 0;
    width : 100%;
    height : 100%;
    background-color: black;
}

#intro1
{
    position : absolute;
    height : auto;
    width : 80%;
    // opacity: 10%;
}