
<ion-content [fullscreen]="true">

  <div id="FA1-2" style="position : absolute;
   z-index : 1; bottom : 0; left : 0; width : 3000px; height : 50%; overflow: hidden; max-width:none;">

   </div>

   <div id="FA2-2" style="position : absolute;
   z-index : 2; bottom : 0; left : 0; width : 3000px; height : 50%; overflow: hidden; max-width:none;">

   </div>

   <div id="FA2-3" style="position : absolute;
   z-index : 0; top : 0; left : 0; width : 100%; height : 80%; overflow: hidden; max-width:none;">

   </div>
  
  <div id="container">

    <div id="connexion">
        <label>{{texte6}}</label>
        <input [(ngModel)]="username" type="text">
        <label>{{texte7}}</label>
        <input [(ngModel)]="password1" type="password">
        <label>{{texte8}}</label>
        <input [(ngModel)]="password2" type="password">
        <label id="erreur" *ngIf="message" style="font-size: 16px;">{{message}}</label>
        <label>{{texte9}}</label>
        <button (click)="valider()">{{texte10}}</button>
        <button [routerLink]="['/home']">Retour</button>
    </div>

  </div>
  
</ion-content>