<!--  Contenu de la page "Home"  -->

<ion-content [fullscreen]="true">

  <!-- <img id="FA1" src="./../../assets/images/PFI/Fond Animé/PNG/FA1.png" style="position : fixed;
   z-index : 0; bottom : 0; left : 0; width : 3000px; height : 500px; overflow: hidden; max-width:none;"> -->

   <div id="FA1-2" style="position : absolute;
   z-index : 1; bottom : 0; left : 0; width : 3000px; height : 50%; overflow: hidden; max-width:none;">

   </div>

   <div id="FA2-2" style="position : absolute;
   z-index : 2; bottom : 0; left : 0; width : 3000px; height : 50%; overflow: hidden; max-width:none;">

   </div>

   <div id="FA2-3" style="position : absolute;
   z-index : 0; bottom : 10; left : 0; width : 100%; height : 80%; overflow: hidden; max-width:none;">

   </div>

  <!-- <img id="FA2" src="./../../assets/images/PFI/Fond Animé/PNG/FA2.png" style="position : fixed;
  z-index : 1; bottom : 0; left : 0; width : 3000px; height : 500px; overflow: hidden; max-width:none;"> -->

  <!--  Menu déroulant permettant de choisir la langue  -->

  <div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <img src="./../../assets/images/Langues/Français.png" (click)="setupFrancais()">
    <img src="./../../assets/images/Langues/Anglais.png" (click)="setupAnglais()">
  </div>

  <!--  Div contenant 2 bannières chargées par des personnages aléatoires et le formulaire de connexion au site  -->


    <div id="container">

      <!--  Formulaire de connexion au site  -->

      <div id="connexion">
          <label>{{texte1}}</label>
          <input [(ngModel)]="username" id="pseudo" type="text">
          <label>{{texte2}}</label>
          <input [(ngModel)]="password" id="motDePasse" type="password">
          <div>
            <input type="checkbox" id="seSouvenir" value="seSouvenir" style="width:20px; height:20px;">
            <label>&nbsp; Se souvenir de moi</label>
          </div>
          <div>
            <input type="checkbox" id="resterCo" value="resterCo" style="width:20px; height:20px;">
            <label>&nbsp; Rester connecté</label>
          </div>
          <label id="erreur" *ngIf="message" style="font-size: 16px;">{{message}}</label>
          <button class="btn_home" (click)="Login()" (keypress.enter)="Login()">{{texte3}}</button>
          <button class="btn_home" [routerLink]="['/register']">{{texte4}}</button>
      </div>

    </div>

</ion-content>