@font-face
{
    font-family: "8bit";
    src: url('./../../assets/fonts/8bitOperatorPlus-Regular.ttf');
}

// Écran très petit

@media only screen and (max-width : 321px)
{

  // Logo du jeu chargée dans le header

  #Logo
  {
    width : auto;
    height : 50px;
    display : flex;
    justify-self: center;
    align-self: center;
    margin : auto;
  }

  // Logo du menu déroulant

  #LogoMenu
  {
    width : auto;
    height : 25px;
    display : flex;
    align-self: center;
    margin-left : 15px;
  }

  // Logo du menu déroulant survolé par une souris

  #LogoMenu:hover
  {
      cursor: pointer;
  }

  // Bannières cachées aux côtés du formulaire de connexion

  .banner
  {
    width : 0%;
    height : 25px;
    visibility: hidden;
  }

  // Div contenant les bannières et le formulaire

  #container
  {
    display : flex;
    justify-content: right;
    width : 90%;
    border : none;
    background-color: white;
    margin-top : 25px;
    margin-left : auto;
    margin-right: auto;
  }

  // Propriétés des input du formulaire

  #container input
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left : auto;
    margin-right: auto;
    width : 75%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
  }

  // Propriétés des label du formulaire

  #container label
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 15px;
  }

  // Propriétés des button du formulaire

  #container button
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    height : 50px;
    font-size: 20px;
    margin-bottom: 15px;
    width : 75%;
    margin-left : auto;
    margin-right: auto;
    background-color: #A68888;
    border-radius: 5px;
    text-shadow: black 3px 3px 4px;
    box-shadow: 3px 3px 4px black;
  }

  // Formulaire de connexion au site

  #connexion
  {
    display : flex;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    justify-items: center;
    margin: auto;
    padding: 25px;
    width: 100%;
    height : auto;
    border : 1px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 10px black;
    text-shadow: black 3px 3px 4px;
  }

}

// Petit écran

@media only screen and (min-width : 320px) and (max-width : 375px)
{
  #Logo
  {
    width : auto;
    height : 50px;
    display : flex;
    justify-self: center;
    align-self: center;
    margin : auto;
  }

  #LogoMenu
  {
    width : auto;
    height : 25px;
    display : flex;
    align-self: center;
    margin-left : 15px;
  }

  #LogoMenu:hover
  {
      cursor: pointer;
  }

  .banner
  {
    width : 0%;
    height : 25px;
    visibility: hidden;
  }

  #container
  {
    display : flex;
    justify-content: right;
    width : 70%;
    border : none;
    background-color: white;
    margin-top : 25px;
    margin-left : auto;
    margin-right: auto;
  }

  #container input
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left : auto;
    margin-right: auto;
    width : 75%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
  }

  #container label
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 15px;
  }

  #container button
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    height : 50px;
    font-size: 20px;
    margin-bottom: 15px;
    width : 75%;
    margin-left : auto;
    margin-right: auto;
    background-color: #A68888;
    border-radius: 5px;
    text-shadow: black 3px 3px 4px;
    box-shadow: 3px 3px 4px black;
  }

  #connexion
  {
    display : flex;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    justify-items: center;
    margin: auto;
    padding: 25px;
    width: 100%;
    height : auto;
    border : 1px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 10px black;
    text-shadow: black 3px 3px 4px;
    z-index: 10;
    background-color: white;
  }
}

// Écran moyen

@media only screen and (min-width : 375px) and (max-width : 425px)
{
  #Logo
  {
    width : auto;
    height : 50px;
    display : flex;
    justify-self: center;
    align-self: center;
    margin : auto;
  }

  #LogoMenu
  {
    width : auto;
    height : 25px;
    display : flex;
    align-self: center;
    margin-left : 15px;
  }

  #LogoMenu:hover
  {
      cursor: pointer;
  }

  .banner
  {
    width : 0%;
    height : 25px;
    visibility: hidden;
  }

  #container
  {
    display : flex;
    justify-content: right;
    width : 70%;
    border : none;
    background-color: white;
    margin-top : 25px;
    margin-left : auto;
    margin-right: auto;
  }

  #container input
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left : auto;
    margin-right: auto;
    width : 75%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
  }

  #container label
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 15px;
  }

  #container button
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    height : 50px;
    font-size: 20px;
    margin-bottom: 15px;
    width : 75%;
    margin-left : auto;
    margin-right: auto;
    background-color: #A68888;
    border-radius: 5px;
    text-shadow: black 3px 3px 4px;
    box-shadow: 3px 3px 4px black;
  }

  #connexion
  {
    display : flex;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    justify-items: center;
    margin: auto;
    padding: 25px;
    width: 100%;
    height : auto;
    border : 1px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 10px black;
    text-shadow: black 3px 3px 4px;
    z-index: 10;
    background-color: white;
  }
}

// Grand écran

@media only screen and (min-width : 425px) and (max-width : 768px)
{
  #Logo
  {
    width : auto;
    height : 50px;
    display : flex;
    justify-self: center;
    align-self: center;
    margin : auto;
  }

  #LogoMenu
  {
    width : auto;
    height : 25px;
    display : flex;
    align-self: center;
    margin-left : 15px;
  }

  #LogoMenu:hover
  {
      cursor: pointer;
  }

  .banner
  {
    width : 0%;
    height : 25px;
    visibility: hidden;
  }

  #container
  {
    display : flex;
    justify-content: right;
    width : 75%;
    border : none;
    background-color: white;
    margin-top : 25px;
    margin-left : auto;
    margin-right: auto;
  }

  #container input
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left : auto;
    margin-right: auto;
    width : 60%;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 4px black;
  }

  #container label
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 15px;
  }

  #container button
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    height : 50px;
    font-size: 20px;
    margin-bottom: 15px;
    width : 60%;
    margin-left : auto;
    margin-right: auto;
    background-color: #A68888;
    border-radius: 5px;
    text-shadow: black 3px 3px 4px;
    box-shadow: 3px 3px 4px black;
  }

  #connexion
  {
    display : flex;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    justify-items: center;
    margin: auto;
    padding: 25px;
    width: 100%;
    height : auto;
    border : 1px solid black;
    border-radius: 10px;
    box-shadow: 7px 7px 10px black;
    text-shadow: black 3px 3px 4px;
    z-index: 10;
    background-color: white;
  }
}

// Très grand écran

@media only screen and (min-width : 768px)
{
  #Logo
  {
    width : auto;
    height : 50px;
    display : flex;
    justify-self: center;
    align-self: center;
    margin : auto;
  }

  #LogoMenu
  {
    width : auto;
    height : 25px;
    display : flex;
    align-self: center;
    margin-left : 15px;
  }

  #LogoMenu:hover
  {
      cursor: pointer;
  }

  .banner
  {
    width : 25%;
  }

  #banner_bot
  {
    visibility: hidden;
    height: 10px;
  }

  #container
  {
    display : flex;
    justify-content: right;
    width : 100%;
    height : 100vh;
    border : none;
    background-color: white;
    margin-left : auto;
    margin-right: auto;
  }

  #container input
  {
    font-family: "8bit";
    margin-left : auto;
    margin-right: auto;
    width : 60%;
    height: 7%;
    margin-bottom: 3%;
    // border-radius: 5px;
    box-shadow: 3px 3px 4px black;
  }

  #container label
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 90%;
    margin-top : 3%;
    font-family: "8bit";
  }

  #container button
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    height : 7%;
    font-size: 90%;
    margin-bottom: 3%;
    width : 80%;
    margin-left : auto;
    margin-right: auto;
    background-color: #A68888;
    // border-radius: 5px;
    text-shadow: black 1px 1px 4px;
    box-shadow: 2px 2px 4px black;
    font-family: "8bit";
  }

  #connexion
  {
    display : flex;
    text-align: center;
    justify-items: center;
    flex-direction: column;
    justify-items: center;
    width: 60%;
    height : 90%;
    border : 1px solid black;
    // border-radius: 10px;
    box-shadow: 7px 7px 10px black;
    text-shadow: black 1px 1px 4px;
    z-index: 10;
    background-color: white;
    overflow: scroll;
    margin-top : 2.5%;
    margin-left : 20%;
  }
}

// Propriétés du texte indiquant une erreur

#erreur
{
  text-shadow: none;
  font-size: 10px;
  color : red;
}

// Menu déroulant

.sidenav
{
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 20; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

// Images du menu déroulant

.sidenav img
{
  margin: 25px -20px 25px 50px;
  height : 80px;
  width : 120px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a
{
  margin: 10px -20px 25px 50px;
  height : 100px;
  width : 150px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

// Images du menu déroulant survolée à la souris

.sidenav img:hover
{
  cursor: pointer;
}

.sidenav a:hover
{
  cursor: pointer;
}

// Boutton 'quitter' du menu déroulant

.sidenav .closebtn
{
  position: absolute;
  top: 0;
  right: -75px;
  font-size: 36px;
  margin-left: 50px;
}

// Boutton 'quitter' du menu déroulant survolé à la souris

.sidenav .closebtn :hover
{
  cursor: pointer;
}

// Bouttons du formulaire de connexion survolés à la souris

#connexion button:hover
{
  color: white;
  font-size: larger;
}

@keyframes anim2 
{
  0% {background-position-x: 0}
  100% {background-position-x : -3000px}
}

#FA1-2
{
  background-image: url("./../../assets/images/PFI/Fond Animé/PNG/FA1.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  animation-timing-function: linear;
  animation-name: anim2;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}

#FA2-2
{
  background-image: url("./../../assets/images/PFI/Fond Animé/PNG/FA2.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  animation-timing-function: linear;
  animation-name: anim2;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}

#FA2-3
{
  background-image: url("./../../assets/images/PFI/Fond Animé/PNG/FA3.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  animation-timing-function: linear;
  animation-name: anim2;
  animation-duration: 300s;
  animation-iteration-count: infinite;
}

.scroll-content {
  padding-bottom: 0 !important;
}

ion-content {
  --overflow: hidden;
}