<ion-content>
  <div style="width :100%; height : 100%; background-color: rgba(80, 124, 145, 0.493);">
    <div style="position : relative; width : 15%; background-color: black; margin-left: auto; margin-right : 25%;">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/PNG/Corps_Type_{{this.currentKhun.sexe}}_Couleur_{{this.currentKhun.couleur}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Hair_Forme_{{this.currentKhun.formeCheveux}}_Couleur_{{this.currentKhun.couleurCheveux}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Beard_Forme_{{this.currentKhun.formeBarbe}}_Couleur_{{this.currentKhun.couleurBarbe}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Top_Forme_{{this.currentKhun.formeTop}}_Couleur_{{this.currentKhun.couleurTop}}_Type_M.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Pant_Forme_{{this.currentKhun.formePant}}_Couleur_{{this.currentKhun.couleurPant}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Shoes_Forme_{{this.currentKhun.formeShoes}}_Couleur_{{this.currentKhun.couleurShoes}}.png" alt="">
    </div>
    <div *ngIf="this.Jouer" style="width : 60%; height : auto; display : flex; flex-direction: column;">
      <p>Voulez-vous jouer avec {{this.currentKhun.nom}} ?</p>
      <div style="width : 100%; height : auto; display : flex; flex-direction: row;">
        <button (click)="JouerKhun()">Jouer</button>
        <button (click)="Retour()">Retour</button>
      </div>
    </div>
    <div *ngIf="this.Supprimer" style="width : 60%; height : auto; display : flex; flex-direction: column;">
      <p>Voulez-vous supprimer {{this.currentKhun.nom}} ?</p>
      <div style="width : 100%; height : auto; display : flex; flex-direction: row;">
        <button (click)="SupprimerKhun()">Supprimer</button>
        <button (click)="Retour()">Retour</button>
      </div>
    </div>
  </div>
    
</ion-content>
