@font-face
{
    font-family: "8bit";
    src: url('./../../assets/fonts/8bitOperatorPlus-Regular.ttf');
}

p
{
    font-size : 20px;
    font-family: "8bit";
    margin-top : 50px;
    margin-left : auto;
    margin-right : auto;
}

button
{
    margin-left:auto;
    margin-right: auto;
    font-family: "8bit";
    margin-top: 0px;
    width : 30%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}