<ion-header [translucent]="true">
  <ion-toolbar>
    <img id="Logo" src="./../../assets/images/Logo3.png" alt="LogoSoL">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <div style="width : 25%;">

    </div>

    <div id="connexion">
        <label>Nom d'utilisateur</label>
        <input type="text" placeholder="username">
        <label>Mot de passe</label>
        <input type="password" placeholder="password">
        <button>Se connecter</button>
        <button>Créer un compte</button>
    </div>

  </div>

  <div style="position: relative; width: 200px; height: auto; margin : auto;">
    <img id="Perso" src="./../../assets/images/Cheveux2.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img id="Perso" src="./../../assets/images/Pants.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img id="Perso" src="./../../assets/images/Belt.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img id="Perso" src="./../../assets/images/Shoes.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img id="Perso" src="./../../assets/images/NudeBody.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 0;">
    <img id="Perso" src="./../../assets/images/Barbe.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img id="Perso" src="./../../assets/images/Bouc.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img id="Perso" src="./../../assets/images/Stache.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img id="Perso" src="./../../assets/images/Stache2.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
    <img id="Perso" src="./../../assets/images/JacketN.png" alt="Perso1" style="width: 100%; position: absolute; left: 0; top : 150; z-index: 1;">
  </div>
  
</ion-content>

<ion-footer>
</ion-footer>
