<!-- CHOIX DU LIEU -->

<ion-content *ngIf="this.choixDuLieu">

  <div style="width : 100%; height : 15%; display : flex; background-color: rgba(0, 0, 0, 0.300);">
    <p style="margin:auto;">Choisissez votre destination :</p>
  </div>


  <div style="width : 100%; height : 70%; display : flex; flex-direction: row;">

    <div style="width:20%; height : 100%; background-color: rgba(0, 0, 0, 0.250); display : flex;">
      <img style="width : 50%; height:30%; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : auto; margin-bottom: auto;"
        src="./../../assets/images/FlècheGauche.png" alt="" (click)="Defiler(-1)">
    </div>

    <div style="display: flex; flex-direction: row; width:60%; height : 100%; background-color: rgba(0, 0, 0, 0.200); overflow-x: hidden;">

      <div style="position: relative; display : flex; width:100%; height : 100%; flex-direction: column;">
        <img style="width:auto; height : 80%; margin-left : auto; margin-right : auto;" src="{{this.Lieux[this.compte][0]}}" alt="">
        <p style="margin-top : auto;">{{this.Lieux[this.compte][1]}}</p>
      </div>
      
    </div>

    <div style="width:20%; height : 100%; background-color: rgba(0, 0, 0, 0.250); display : flex;">
      <img style="width : 50%; height:30%; border : 2px solid black; border-radius : 5px; margin-left : auto; margin-right : auto; margin-top : auto; margin-bottom: auto;"
        src="./../../assets/images/FlècheDroite.png" alt="" (click)="Defiler(1)">
    </div>

  </div>


  <div style="width : 100%; height : 15%; background-color: rgba(0, 0, 0, 0.300); display : flex;">
    <button id="BoutonAller" (click)="Aller()">Aller</button>
  </div>

</ion-content>



<!-- DOMICILE - SALON -->


<ion-content *ngIf="this.domicileSalon" (click)="getCoordinates($event)" id="window" scroll-y="false">

  <div style="display : flex; flex-direction: row; width : 100%; height : 10%; background-color: rgb(126, 126, 126); box-shadow: 0px 2px 10px black; justify-content: flex-end; z-index : 1;">
      <p style="display : flex; height : 50%; margin-left : 5px; margin-right : 0; margin-top : auto; margin-bottom:  auto; color : white; text-shadow: none;">Argent : </p>
      <p style="display : flex; height : 50%; margin-left : 5px; margin-right : auto; margin-top : auto; margin-bottom:  auto; color : darkgreen; text-shadow: none;">{{this.currentKhun.argent}} $</p>
      <button (click)="DefilerBesoins()" style="display : flex; height : 100%; width : 10%; margin-right : 5px;"><img style="height : 80%; width : auto; margin : auto;" src="./../../assets/images/PFI/Decors/ImageBesoins.png" alt=""></button>
      <button (click)="MenuChoixDuLieu()" style="display : flex; height : 100%; width : 10%; margin-right : 5px;"><img style="height : 80%; width : auto; margin : auto;" src="./../../assets/images/PFI/Decors/CarteDuMonde.png" alt=""></button>
      <button [routerLink]="['/main']" style="display : flex; height : 100%; width : 10%; margin-right : 5px;"><img style="height : 80%; width : auto; margin : auto;" src="./../../assets/images/PFI/Decors/PorteDeSortie.png" alt=""></button>
  </div>

  <div id="Besoins">
    <a class="closebtn" (click)="RemonterBesoins()">&times;</a>
  </div>

  <div id="ConfirmationDeplacement">
    <p>Aller vers {{this.lieuDeDeplacement}} ?</p>
    <div id="ConfirmationDeplacementDiv">
      <button (click)="Conf()">Oui</button>
      <button (click)="DontMove()">Non</button>
    </div>
  </div>

  <div id="PenseeKhun">
    <p>{{this.penseeKhun}}</p>
    <button (click)="DontMove()">Passer</button>
  </div>

  <div id="PassageCuisine" (click)="AllerVers('la cuisine')"></div>

  <div style="width : 100%; height : 90%; background-image: url(./../../assets/images/PFI/Decors/Template.png); background-size: 100% 100%; background-position: bottom 0px right 0px; background-repeat: no-repeat; overflow-y: unset;">

    <div id="Khun" style="position : absolute; width : 60px; height : auto; background-color: black; left: 25%; top: 50%; transition: 0.8s; z-index: 5;">
      <img id="imageKhun" style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/PNG/Corps_Type_{{this.currentKhun.sexe}}_Couleur_{{this.currentKhun.couleur}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Hair_Forme_{{this.currentKhun.formeCheveux}}_Couleur_{{this.currentKhun.couleurCheveux}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Beard_Forme_{{this.currentKhun.formeBarbe}}_Couleur_{{this.currentKhun.couleurBarbe}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Top_Forme_{{this.currentKhun.formeTop}}_Couleur_{{this.currentKhun.couleurTop}}_Type_{{this.currentKhun.sexe}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Pant_Forme_{{this.currentKhun.formePant}}_Couleur_{{this.currentKhun.couleurPant}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Shoes_Forme_{{this.currentKhun.formeShoes}}_Couleur_{{this.currentKhun.couleurShoes}}{{this.directionKhun}}.png" alt="">
    </div>

    <img src="./../../assets/images/PFI/Decors/MeubleTele.png" alt="" style="width : auto; height : 30%; position : absolute; top : 50%; left : 60%;">
    <img (click)="Penser('television')" src="./../../assets/images/PFI/Decors/Television.png" alt="" style="width : auto; height : 18%; position : absolute; top : 32%; left : 61%;">
    <img src="./../../assets/images/PFI/Decors/Canape.png" alt="" style="width : auto; height : 30%; position : absolute; top : 77%; left : 46%; z-index: 6; overflow: unset;">
    <img (click)="Penser('cadre')" src="./../../assets/images/PFI/Decors/CadrePhoto.png" alt="" style="width : auto; height : 30%; position : absolute; top : 25%; left : 80%;">
    <img  src="./../../assets/images/PFI/Decors/Escalier.png" alt="" style="width : auto; height : 85%; position : absolute; top : 15%; left : 0; z-index: 5;">

  </div>
  

</ion-content>




<!-- DOMICILE - CUISINE -->


<ion-content *ngIf="this.domicileCuisine" (click)="getCoordinates($event)" id="window" scroll-y="false">

  <!-- EN-TETE DE NAVIGATION -->
  <div style="display : flex; flex-direction: row; width : 100%; height : 10%; background-color: rgb(126, 126, 126); box-shadow: 0px 2px 10px black; justify-content: flex-end; z-index : 1;">
      <p style="display : flex; height : 50%; margin-left : 5px; margin-right : 0; margin-top : auto; margin-bottom:  auto; color : white; text-shadow: none;">Argent : </p>
      <p style="display : flex; height : 50%; margin-left : 5px; margin-right : auto; margin-top : auto; margin-bottom:  auto; color : darkgreen; text-shadow: none;">{{this.currentKhun.argent}} $</p>
      <button (click)="DefilerBesoins()" style="display : flex; height : 100%; width : 10%; margin-right : 5px;"><img style="height : 80%; width : auto; margin : auto;" src="./../../assets/images/PFI/Decors/ImageBesoins.png" alt=""></button>
      <button (click)="MenuChoixDuLieu()" style="display : flex; height : 100%; width : 10%; margin-right : 5px;"><img style="height : 80%; width : auto; margin : auto;" src="./../../assets/images/PFI/Decors/CarteDuMonde.png" alt=""></button>
      <button [routerLink]="['/main']" style="display : flex; height : 100%; width : 10%; margin-right : 5px;"><img style="height : 80%; width : auto; margin : auto;" src="./../../assets/images/PFI/Decors/PorteDeSortie.png" alt=""></button>
  </div>

  <!-- MENU DÉROULANT AFFICHANT LES BESOINS ET LES MAITRISES -->
  <div id="Besoins">
    <div id="needs">
      <p class="needs_texte">Besoins</p>
      <div class="jauges">
        <div class="jauges_div">
          <p class="jauges_texte">{{this.currentKhun.sante}}</p>
          <div class="jauges_barre">
            <div class="jauges_barre_barre">

            </div>
          </div>
          <p class="jauges_texte">Santé</p>
        </div>
        <div class="jauges_div">
          <p class="jauges_texte">{{this.currentKhun.faim}}</p>
          <div class="jauges_barre">
            <div class="jauges_barre_barre">

            </div>
          </div>
          <p class="jauges_texte">Faim</p>
        </div>
        <div class="jauges_div">
          <p class="jauges_texte">{{this.currentKhun.hygiene}}</p>
          <div class="jauges_barre">
            <div class="jauges_barre_barre">

            </div>
          </div>
          <p class="jauges_texte">Hygiène</p>
        </div>
      </div>
      
    </div>
    <div id="masteries">
      <p class="masteries_texte">Compétences</p>
      <div class="jauges">
        <div class="jauges_div">
          <p class="jauges_texte">{{this.niveauCuisine}}</p>
          <div class="jauges_barre" style="background-color: white;">
            <div class="jauges_barre_barre_stats" id="barre_cuisine">

            </div>
          </div>
          <p class="jauges_texte">Cuisine</p>
        </div>
      </div>
    </div>
    <a class="closebtn" (click)="RemonterBesoins()">&times;</a>
  </div>

  <!-- BULLE DE CONFIRMATION DE DÉPLACEMENT VERS UN AUTRE LIEU -->
  <div id="ConfirmationDeplacement">
    <p>Aller vers {{this.lieuDeDeplacement}} ?</p>
    <div id="ConfirmationDeplacementDiv">
      <button (click)="Conf()">Oui</button>
      <button (click)="DontMove()">Non</button>
    </div>
  </div>

  <!-- BULLE DE PENSÉE -->
  <div id="PenseeKhun">
    <p>{{this.penseeKhun}}</p>
    <button (click)="DontMove()">Passer</button>
  </div>

  <!-- ACTION - CUISINER -->
  <div id="ActionCuisiner">
    <div id="ActionCuisinerDiv">
      <div id="ActionCuisinerDivChoix" *ngIf="this.PlatChoisi == false">
        <div class="ChoixCuisine" *ngFor="let choix of ListeChoixCuisine">
          <p>{{ choix.titre }}</p>
          <div style="display : flex; flex-direction: row; height : auto; width : 100%;">
            <div style="width : 20%; height : auto; display : flex; flex-direction: column;">
              <img src="{{choix.image}}" style="width : 40%; height : auto; margin-left : auto; margin-right : auto;">
            </div>
            <div style="width : 20%; height : auto; display : flex; flex-direction: column;">
              <span>Niveau requis : {{ choix.niveau }}</span>
              <span>Réussite : {{ choix.chanceBase }}%</span>
            </div>
            <div style="width : 20%; height : auto; display : flex; flex-direction: column;">
              <span>Temps : {{ choix.temps }}</span>
              <span>Bonus : {{ choix.chanceParNiveau }}% / Niveau</span>
            </div>
            <div style="width : 20%; height : auto; display : flex; flex-direction: column;">
              <span>Expérience : {{ choix.exp }}</span>
            </div>
            <div style="width : 20%; height : auto; display : flex; flex-direction: column;">
              <button (click)="ChoisirPlat(choix.id)" class="ActionCuisinerDivBoutton" *ngIf="this.niveauCuisine >= choix.niveau">Choisir</button>
            </div>
          </div>
        </div>
      </div>

      <div id="ActionCuisinerDivPlat" *ngIf="this.PlatChoisi == true">
        <p id="TitrePlat">{{this.ListeChoixCuisine[this.NumeroPlatChoisi].titre}}</p>
        <img src="{{this.ListeChoixCuisine[this.NumeroPlatChoisi].image}}" alt="">
        <button class="ActionCuisinerDivBoutton2">Préparer</button>
        <button (click)="RetourChoixDuPlat()" class="ActionCuisinerDivBoutton2">Retour</button>
      </div>

      <button (click)="QuitterAction()" class="ActionCuisinerDivBoutton2">Quitter</button>
    </div>
  </div>

  <!-- ZONE DE CLIC POUR ALLER VERS LE SALON -->
  <div id="PassageSalon" (click)="AllerVers('le salon')"></div>

  <!-- ZONE DE JEU -->
  <div style="width : 100%; height : 90%; background-image: url(./../../assets/images/PFI/Decors/TemplateCuisine.png); background-size: 100% 100%; background-position: bottom 0px right 0px; background-repeat: no-repeat; overflow-y: unset;">

    <!-- AFFICHAGE DES SPRITES DU JOUEUR -->
    <div id="Khun" style="position : absolute; width : 60px; height : auto; background-color: black; left: 75%; top: 50%; transition: 0.8s; z-index: 5;">
      <img id="imageKhun" style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/PNG/Corps_Type_{{this.currentKhun.sexe}}_Couleur_{{this.currentKhun.couleur}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Hair_Forme_{{this.currentKhun.formeCheveux}}_Couleur_{{this.currentKhun.couleurCheveux}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Cheveux/PNG/Beard_Forme_{{this.currentKhun.formeBarbe}}_Couleur_{{this.currentKhun.couleurBarbe}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Top_Forme_{{this.currentKhun.formeTop}}_Couleur_{{this.currentKhun.couleurTop}}_Type_{{this.currentKhun.sexe}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Pant_Forme_{{this.currentKhun.formePant}}_Couleur_{{this.currentKhun.couleurPant}}{{this.directionKhun}}.png" alt="">
      <img style="position : absolute; top: 25; width : 100%; height : auto; margin-left : auto; margin-right : auto;" src="./../../assets/images/PFI/CréationKhun/Habits/PNG/Shoes_Forme_{{this.currentKhun.formeShoes}}_Couleur_{{this.currentKhun.couleurShoes}}{{this.directionKhun}}.png" alt="">
    </div>

    <!-- AFFICHAGE DES DÉCORS / DÉCORS INTERACTIFS -->
    <img (click)="Penser('evier')" src="./../../assets/images/PFI/Decors/Evier.png" alt="" style="width : auto; height : 80%; position : absolute; top : 85%; left : 60%; z-index: 5;">
    <img src="./../../assets/images/PFI/Decors/Frigo.png" alt="" style="width : auto; height : 40%; position : absolute; top : 40%; left : 2%;">
    <img (click)="Penser('cuisine')" src="./../../assets/images/PFI/Decors/Cuisiniere.png" alt="" style="width : auto; height : 40%; position : absolute; top : 40%; left : 15%;">
    <img (click)="Action('ActionCuisiner')" src="./../../assets/images/PFI/Decors/ActionCuisine.png" alt="" style="width : auto; height : 25%; position : absolute; top : 46%; left : 26%;">

  </div>
  

</ion-content>

<!-- MAGASIN -->