@font-face
{
    font-family: "8bit";
    src: url('./../../assets/fonts/8bitOperatorPlus-Regular.ttf');
}

p
{
    font-family: "8bit";
    font-size: 20px;
    margin-left : auto;
    margin-right : auto;
    color: white;
    text-shadow : 0 0 5px black;
}

#BoutonAller
{
    margin:auto;
    font-family: "8bit";
    width : 30%;
    height : 80%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#Besoins
{
    height: 0; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(255, 255, 255); /* Black*/
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 5px 10px black;
}

.closebtn
{
    position: absolute;
  top: 0;
  right : 2%;
  margin-left : auto;
  font-size: 36px;
  color : black;
}

#PenseeKhun
{
  height: 0; /* 100% Full-height */
  width: 50%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 100%; /* Stay at the top */
  left: 25%;
  background-color: rgba(0, 0, 0, 0.950); /* Black*/
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 5px 10px black;
  text-align: justify;
  border : 5px solid white;
  padding : 5px;
}

#ActionCuisiner
{
  height: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 100%; /* Stay at the top */
  left: 0;
  background-color: rgba(0, 0, 0, 0.750); /* Black*/
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 5px 10px black;
  text-align: justify;
  padding-top : 5%;
}

#ActionCuisinerDiv
{
  display : flex;
  flex-direction: column;
  height: 90%; /* 100% Full-height */
  width: 80%; /* 0 width - change this with JavaScript */
  background-color: rgba(255, 255, 255, 1);
  margin : auto;
  margin-top : auto;
  margin-bottom : auto;
}

#ActionCuisinerDivChoix
{
  height: 80%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  border-bottom: 1px solid black;
  overflow-y: auto;
}

#ActionCuisinerDivPlat
{
  display : flex;
  flex-direction: column;
  height: 80%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  border-bottom: 1px solid black;
  overflow-y: auto;
  text-align: center;
}

#ActionCuisinerDivPlat img
{
  height: auto;
  width: 15%;
  margin-left : auto;
  margin-right : auto;
}

.ChoixCuisine
{
  width : 100%;
  height : 30%;
  border-bottom: 1px solid gray;
}

.ChoixCuisine p
{
  font-size: 100%;
  text-shadow: none;
  color : black;
  text-decoration: underline;
  margin-left : 3%;
  margin-top : 0;
  margin-bottom : 0;
}

.ChoixCuisine span
{
  font-family: "8bit";
  font-size: 65%;
  text-shadow: none;
  color : black;
  margin-left : auto;
  margin-right : auto;
}

.ActionCuisinerDivBoutton
{
  float: left;
  margin-right: auto;
  margin-left : auto;
  font-family: "8bit";
  width : 80%;
  border : 3px solid black;
  border-radius : 10px;
  background-color: darkgray;
  color : white;
  text-shadow : 0 0 5px black;
  font-size: 18px;
}

.ActionCuisinerDivBoutton2
{
    margin-left:auto;
    margin-right: auto;
    margin-top : 1%;
    font-family: "8bit";
    width : 30%;
    border : 3px solid black;
    border-radius : 10px;
    background-color: darkgray;
    color : white;
    text-shadow : 0 0 5px black;
    font-size: 18px;
}

#TitrePlat
{
  font-size: 125%;
  text-shadow: none;
  color : black;
  text-decoration: underline;
  margin-top : 0;
  margin-bottom : 0;
}

#PenseeKhun p
{
  font-family: "8bit";
  font-size: 14px;
  margin-left : auto;
  margin-right : auto;
  color: white;
  text-shadow : 0 0 5px black;
  margin-top : 0;
}

#PassageCuisine
{
  position : absolute;
  width : 16.5%;
  height : 41.5%;
  top : 31.5%;
  left : 25%;
  z-index: 6;
}

#PassageSalon
{
  position : absolute;
  width : 16.5%;
  height : 41.5%;
  top : 31.5%;
  left : 70%;
  z-index: 6;
}

#ConfirmationDeplacement
{
  height: 0; /* 100% Full-height */
  width: 50%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 100%; /* Stay at the top */
  left: 25%;
  background-color: rgba(0, 0, 0, 0.750); /* Black*/
  overflow-y: hidden; /* Disable horizontal scroll */
  transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 5px 10px black;
  text-align: justify;
  border : 5px solid white;
  padding : 5px;
}

#ConfirmationDeplacement p
{
  font-family: "8bit";
  font-size: 14px;
  margin-left : auto;
  margin-right : auto;
  color: white;
  text-shadow : 0 0 5px black;
  margin-top : 0;
}

#ConfirmationDeplacementDiv
{
  width : 50%;
  height : auto;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left : auto;
  margin-right : auto;
}

#ConfirmationDeplacementDiv button
{
  font-family: "8bit";
  font-size: 14px;
  color: white;
  border : 3px solid white;
  background-color: rgba(0, 0, 0, 0.750);
  padding : 10px;
}

#PenseeKhun button
{
  font-family: "8bit";
  font-size: 14px;
  color: white;
  border : 3px solid white;
  background-color: rgba(0, 0, 0, 0.750);
  padding : 10px;
  margin-right : auto;
  margin-left : auto;
}

#needs
{
  position : absolute;
  display : flex;
  flex-direction: column;
  width : 40%;
  height : 90%;
  border : 3px solid black;
  margin-left : 5%;
  margin-top : auto;
  
}

#needs .needs_texte
{
  font-family: "8bit";
  font-size: 20px;
  margin-left : auto;
  margin-right : auto;
  margin-top : 1%;
  margin-bottom : 1%;
  color: black;
  text-shadow: none;
  text-decoration: underline;
  font-weight: bolder;
}

#masteries
{
  position : absolute;
  display : flex;
  flex-direction: column;
  width : 40%;
  height : 90%;
  border : 3px solid black;
  margin-left : 50%;
  margin-top : auto;
}

#masteries .masteries_texte
{
  font-family: "8bit";
  font-size: 20px;
  margin-left : auto;
  margin-right : auto;
  margin-top : 1%;
  margin-bottom : 1%;
  color: black;
  text-shadow: none;
  text-decoration: underline;
  font-weight: bolder;
}

.jauges
{
  display : flex;
  width : 95%;
  height : 90%;
  margin-left : auto;
  margin-right : auto;
  margin-bottom : 3%;
  flex-direction: row;
}

.jauges_div
{
  width : 25%;
  height : 60%;
  
}

.jauges_barre
{
  display : flex;
  flex-direction: column-reverse;
  width : 35%;
  height : 80%;
  border : 3px solid black;
  border-radius : 5px;
  margin-right : auto;
  margin-left : auto;
  background-color: white;
}

.jauges_barre_barre
{
  width : 100%;
  height : 100%;
  background-color: green;
}

.jauges_barre_barre_stats
{
  width : 100%;
  height : 0%;
  background-color: yellow;
}

.jauges_texte
{
  font-size: 100%;
  margin-top : 0;
  margin-bottom : 0;
  text-align: center;
  color : black;
  text-shadow: none;
  font-weight: bolder;
}

.jauges_barre_texte
{
  font-size: 80%;
  text-align: center;
  justify-content: center;
  color : black;
  text-shadow: none;
  font-weight: bolder;
  margin-top : 50%;
}